<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading"><label ng-if="!edit" id="createPaseo">Reservar paseo</label>
            <div class="panel-body">
                <form name="paseo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-2" for="paseoMascota">Seleccione su mascota:</label>
                            <div class="col-10">
                                <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="paseoMascota" required ng-model="data.mascota" ng-options="x.nombre for x in mascotas"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">

                        <label for="paseoFecha" class="mr-sm-2">Fecha:</label>
                        <div class="col-10">
                            <input type="datetime-local" value="2011-08-19T13:45:00" id="paseoFecha" required ng-model="data.fecha" class="form-control">
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-1" for="paseoDuracion" >Duracion (en horas): EL COSTO POR HORA ES DE $20000</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="0" id="paseoDuracion" required ng-model="data.duracion" >
                            </div>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-2" for="paseoRuta">Seleccione el ruta más cercano:</label>
                            <div class="col-10">
                                <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="paseoRuta"  required ng-model="paseo.rutas" ng-options="x.nombre for x in rutas"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!paseo.$valid">

                            <div class="alert alert-info" >
                                <strong>Todos los campos son obligatorios </strong>
                            </div> 
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-sm-10">
                            <a ng-show="paseo.$valid" class="btn btn-success" ui-sref="serviciosListC({clienteId: data.cliente.id})" ng-click="createPaseo()" value="Save" >Guardar</a>
                            <a class="btn btn-info" ui-sref="paseos({clienteId: data.cliente.id})">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

