<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createpaseo">Crear nuevo paseo</label>
                <label ng-if="edit" id="editpaseo">Editar paseo</label></div>
            <div class="panel-body">
                <form name="paseo">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="paseoCosto" class="col-sm-2">Costo</label>
                            <input id="paseoCosto" required ng-model="data.costo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="paseofecha" class="col-sm-2">Fecha:</label>
                            <input type="fecha" id="paseoFecha" placeholder="DD/MM/YYYY" required ng-model="data.fecha" class="col-sm-6"/>
                        </div>
                    </div>
                    <move-lists ng-if="edit" selected="selectedItems" available="availableItems"></move-lists>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!paseo.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos son requeridos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="paseo.$valid" ng-click="createpaseo()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="serviciosList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


