<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-2" ng-repeat="ruta in rutasRecords">
            <div class="thumbnail">
                <img class="img-responsive" ng-src='"src/images/map-default.png"' alt="placeholder" />  <!-- ng-src='{{ruta.image}}'-->
                <div class="caption text-center">placeholder</div> <!--{{ruta.nombre}}-->
                <div class="caption text-center">{{ruta.duracion}}</div>
            </div>
        </div>
    </div>
</div>
