<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-12" ng-repeat="ruta in rutasRecords">src/images/map-default.png"
            <div class="card"> <img class="card-img-top" src="src/images/map-default.png" alt="map-default">   <!--src="{{ruta.image}}" --> <!--{{ruta.nombre}}-->
                <h4 class="card-title">Placeholder</h4> <!-- {{ruta.nombre}} -->
                <p class="card-text">{{ruta.duracion}}</p>
            </div>
        </div>
        
        <div class="col-sm-6 col-12">
                     <div class="card">
                     <a href="#"> <img class="card-img-top" src="src/images/agregar.png" alt="Card image cap"></a>
                      <div class="card-body">
                          <h5 class="card-title">Agregar nueva ruta </h5>
                      </div>
                </div>
        </div>
    </div>
</div>

