<div class="container-fluid">
    <div class="row">
        <label ng-if="!edit" id="createInstalacionAdmin">Crear un nuevo instalacionAdmin</label>
        <label ng-if="edit" id="editInstalacionAdmin">Editar instalacionAdmin</label>
    </div>

    <div class="row">
        <div class="col-sm-12">
             <div class="container">
                <div class="row">
                    <label for="nombre">Nombre: </label>
                    <input id="instalacionAdminName" required ng-model="data.nombre"/>
                </div>
                <div class="row">
                    <label for="nombre">Cedula: </label>
                    <input id="instalacionAdminName" required ng-model="data.cedula"/>
                </div>
                <div class="row">
                    <label for="nombre">Correo: </label>
                    <input id="instalacionAdminName" required ng-model="data.correo"/>
                </div>
                <div class="row">
                    <label for="nombre">Imagen: </label>
                    <input id="instalacionAdminName" required ng-model="data.imagen"/>
                </div>
                <div class="row">
                    <label for="nombre">Telefono: </label>
                    <input id="instalacionAdminName" required ng-model="data.telefono"/>
                </div>
            </div>
        </div>
    </div>
</div>