<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createentrenamiento">Create new entrenamiento</label>
                <label ng-if="edit" id="editentrenamiento">Edit entrenamiento</label></div>
            <div class="panel-body">
                <form name="entrenamiento">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoCosto" class="col-sm-2">Costo</label>
                            <input id="entrenamientoCosto" required ng-model="data.costo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientofecha" class="col-sm-2">Fecha:</label>
                            <input type="fecha" id="entrenamientoFecha" placeholder="DD/MM/YYYY" required ng-model="data.fecha" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoTipo" class="col-sm-2">Tipo</label>
                            <textarea id="entrenamientoTipo" required ng-model="data.tipo" class="col-sm-6"></textarea>
                        </div>
                    </div>

                    <move-lists ng-if="edit" selected="selectedItems" available="availableItems"></move-lists>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!entrenamiento.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="entrenamiento.$valid" ng-click="createentrenamiento()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="serviciosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


