<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createentrenamiento">Create new entrenamiento</label>
                <label ng-if="edit" id="editentrenamiento">Edit entrenamiento</label></div>
            <div class="panel-body">
                <form name="entrenamiento">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoDuracion" class="col-sm-2">Duracion</label>
                            <input id="entrenamientoDuracion" required ng-model="data.duracion" class="col-sm-4"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoFecha" class="col-sm-2">Fecha:</label>
                            <input type="fecha" id="entrenamientoFecha" placeholder="DD/MM/YYYY" required ng-model="data.fecha" class="col-sm-4"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoTipo" class="col-sm-2">Tipo</label>
                            <input id="entrenamientoTipo" required ng-model="data.tipo" class="col-sm-4"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="entrenamientoMascota" class="col-sm-2">Mascota</label>
                            <select id="entrenamientoMascota" required ng-model="data.mascota" ng-options="x.nombre for x in mascotas"></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!entrenamiento.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-10">
                            <input ng-show="entrenamiento.$valid" ng-click="createEntrenamiento()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="serviciosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


