<div ng-if="!isAuthenticated()" class="container">
    <div class="row mx-0">
        <div class="col-12 card bg-light mx-auto">
            <h4 class="text-center card-header">Inicia sesion</h4>
            <form class="card-body">
                <div class="form-group row">
                    <label for="UserName" class="col-from-label">Usuario</label>
                    <input type="text" class="form-control" placeholder="Digite su usuario" ng-model="data.username" required="true">
                </div>
                <div class="form-group row">
                    <label for="Password" class="col-from-label">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Digite su contraseña" ng-model="data.password" required="true">
                </div>
                <hr>
                <div class="form-group row">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="autenticar()">
                        Iniciar Sesion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>