<div class="container-fluid" >
    <div class="panel panel-primary" >
        <div class="panel-heading"><h2 ng-if="!edit" id="createHotel">Reservar hotel</h2>
            <div class="panel-body">
                <form name="hotel">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-2" for="hotelMascota">Seleccione su mascota:</label>
                            <div class="col-10">
                                <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="hotelMascota" required ng-model="data.mascota" ng-options="x.nombre for x in mascotas"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">

                        <label for="hotelFecha" class="mr-sm-2">Fecha:</label>
                        <div class="col-10">
                            <input type="datetime-local" value="2011-08-19T13:45:00" id="hotelFecha" required ng-model="data.fecha" class="form-control">
                        </div>

                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-1" for="hotelDuracion" >Duracion (en horas): EL COSTO POR HORA ES DE $10000</label>
                            <div class="col-10">
                                <input class="form-control" type="number" value="0" id="hotelDuracion" required ng-model="data.duracion" >
                            </div>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label class="mr-sm-2" for="hotelTransporte">Seleccione el transporte más cercano:</label>
                            <div class="col-10">
                                <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="hotelTransporte"  ng-model="hotel.transporte" ng-options="x.direccion for x in transportes"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!hotel.$valid">

                            <div class="alert alert-info" >
                                <strong>Todos los campos son obligatorios (excepto transporte)</strong>
                            </div> 
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-sm-10">
                            <a  class="btn btn-success" ui-sref="serviciosListC({clienteId: data.cliente.id})" ng-click="createHotel()" value="Save" >Guardar</a>
                            <a class="btn btn-info" ui-sref="hotels({clienteId: data.cliente.id})">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

