<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container-fluid">
            <h4>Servicio de Hotel</h4>
            <hr>
    <div class="row">
        <div class="col-sm-4">
            <p> imagen</p>
        </div>
        <div class="col-sm-8">
            <p>Llego el fin de semana y mejor aun tiene un festivo a bordo, quieres desconectarte del mundo y regalarte
                un poco de tiempo para tí, ¡PERFECTO!, Watchdogs acogerá a tu mejor amigo en su hotel canino en Bogotá
                donde el también descansará del ruido de la ciudad y podrá disfrutar de amplias zonas verdes en donde
                contará con supervisión y atención permanente.   disfrutará de la mejor atención durante todo un fin de
                semana, que delicia!!!! </p>
        </div>
    </div>
    <hr>
                    <div class="row">
                        
                        <form class="form-group col-md-6">
                               <label class="mr-sm-2" for="hotelMascota">Seleccione su mascota:</label>
                               <div class="col-10">
                               <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="hotelMascota" required ng-model="data.mascota" ng-options="x.nombre for x in mascotas"></select>
                               </div>
                        </form>
                        <form class="form-inline col-md-6" >
                               <label class="mr-sm-2" for="hotelTransporte">Transporte:</label>
                               <div class="col-10">
                               <select class="custom-select mb-4 mr-sm-4 mb-sm-0" id="hotelTransporte" required ng-model="data.transporte">                                   
                                     <option value="1">Si</option>
                                     <option value="2">No</option>                                    
                               </select>
                               </div>
                         </form>
                    </div>
    
                    <div class="row">
                        <form class="form-group col-md-6">
                            <label class="mr-sm-1" for="hotelDuracion" >Duracion</label>
                            <div class="col-10">
                            <input class="form-control" type="number" value="0" id="entrenamientoDuracion" required ng-model="data.duracion" >
                            </div>
                        </form>
                        <form class="form-group col-md-6">
                            <label class="mr-sm-1" for="hotelTiempoHospedaje" >Tiempo Hospedaje</label>
                            <div class="col-10">
                            <input class="form-control" type="number" value="0" id="entrenamientoDuracion" required ng-model="data.tiempoHospedaje" >
                            </div>
                        </form>
                    </div>
    
                    <div class="row">
                        <form class="form-group col-md-6">
                            <label for="hotelFecha" class="mr-sm-2">Fecha:</label>
                            <div class="col-10">
                            <input type="datetime-local" value="2011-08-19T13:45:00" id="entrenamientoFecha" required ng-model="data.fecha" class="form-control">
                            </div>
                        </form>
                    </div>
    
   
    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!hotel.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="row">
                        <div class="col-sm-10">
                            <a class="btn btn-success" ui-sref="serviciosList"  ng-click="createHotel()" value="Save" >Aceptar</a>
                            <a class="btn btn-info" ui-sref="serviciosList">Cancel</a>
                        </div>
                    </div>
            
</div>
        

