<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div class="container-fluid">
    <h1 class="tituloscards">INSTALACIONES </h1>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-sm-6" ng-repeat="instalacion in instalacionesRecords">
              <div class="card">
                  <img class="card-img-top" ng-src='{{instalacion.imagen}}' alt='{{instalacion.name}}'>
                     <div class="card-body">
                        <h5 class="tituloscards">{{instalacion.name}}</h5>
                        <p class="parrafoscards" style="font-size:80%;">{{instalacion.descripcion}}</p>
                     </div>
              </div>  
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
             <div class="col-sm-2">
        <a ui-sref="veterinariaDetail" class="btn btn-primary">Mas info +</a>
             </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
        <a ui-sref="centroEntrenamientoDetail" class="btn btn-primary">Mas info +</a>
        </div>
                <div class="col-sm-2"></div>

    </div>
</div>
