<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-sm-2" ng-repeat="empleado in empleadosRecords">
                <div class="card" id="card-empleado" style='margin-bottom: 20px'>
                  <img class="card-img-top rounded-circle" ng-src='{{empleado.imagen}}' alt='{{empleado.name}}'>
                  <hr>
                     <div class="card-body">
                        <h5 class="tituloscards">{{empleado.nombre}}</h5>
                        <p class="parrafoscards" style="text-align: center">{{empleado.cargo}}</p>
                       
                     </div>
              </div>  
            </div>
        </div>   
    </div>
</div>