
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
            <h4>Servicio de Aseo</h4>
            <hr>
    <div class="row">
        <div class="col-sm-4">
            <p> imagen</p>
        </div>
        <div class="col-sm-8">
            <p>Los cambios de clima, el ejercicio y el contacto con otras mascotas son los principales factores 
                que nos hacen utilizar el servicio de peluquería canina o felina. Cuando hay cambios de clima y 
                aparecen las suciedades en el peor de los casos pulgas y garrapatas, es imprescindible la peluquería 
                para mantener a nuestras mascotas y nosotros mismos en buen estado de salud, ya que limpios y 
                libres de parásitos externos la convivencia con ellos es mucho más agradable.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <dl>
                <dt>Banho</dt>
                <dd>{{currentAseo.banho}}</dd>
                <dt>Peluqueria</dt>
                <dd>{{currentAseo.peluqueria}}</dd>
                <dt>Dientes</dt>
                <dd>{{currentAseo.dientes}}</dd>
                <dt>Estado</dt>
                <dd>{{currentAseo.estado}}</dd>
            </dl>
        </div>
        <div class="col-sm-4">
            <p><strong>Fecha:</strong></p>
            <p>{{currentAseo.fecha | date:'yyyy-MM-dd'}}</p>
            <p><strong>Precio:</strong></p>
            <p>{{currentAseo.costo}}</p>
        </div>
    </div>
    <div ng-if="currentAseo.estado" class="row">
        <a ui-sref="aseoUpdate({aseoId:currentAseo.id})" class="btn btn-primary">Actualizar</a>
        <a ui-sref="aseoDelete({aseoId:currentAseo.id})" class="btn btn-primary">Cancelar</a>
    </div>
    <div ng-if="!currentAseo.estado" class="row">
        <a ui-sref="calificacionCreate({aseoId: currentAseo.id})" class="btn btn-primary">Calificar</a>
    </div>
</div>
