<!--<div class="container-fluid" ng-if="isAuthenticated() && hasPermissions()">-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3>Lista de clientes</h3></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="clientesCreate"><span class="glyphicon glyphicon-plus-sign"></span>Agregar un nuevo cliente</a>
                        <a class="btn btn-info" ui-sref="clienteDetail"><span class="glyphicon glyphicon-plus-sign"></span>Buscar un cliente</a>
                        <a class="btn btn-info" ui-sref="clientesList"><span class="glyphicon glyphicon-plus-sign"></span>Mostrar todos los clientes</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Documento</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientesRecords">
                                <td id="{{$index}}-nombre">
                                    <a ui-sref="clienteDetail({clienteId: cliente.id})">{{cliente.nombre}}</a>
                                </td>
                                <td id="{{$index}}-documento">{{cliente.cedula}}</td>
                                <td id="{{$index}}-correo">{{cliente.correo}}</td>
                                <td id="{{$index}}-telefono">{{cliente.telefono}}</td>
                                <td id="{{$index}}-acciones">
                                    <a id="{{$index}}-edit" class="btn btn-default btn-sm" ui-sref="clienteUpdate({clienteId: cliente.id})"><span class="glyphicon glyphicon-edit"></span>Editar</a>
                                    <a id="{{$index}}-delete" class="btn btn-default btn-sm" ui-sref="clienteDelete({clienteId: cliente.id})"><span class="glyphicon glyphicon-edit"></span>Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>