<!--<div class="container-fluid" ng-if="isAuthenticated() && hasPermissions()">-->
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="tituloscards"><h3>Lista de clientes</h3></div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="parrafoscards" style="font-size: 18px">Nombre</th>
                                <th class="parrafoscards" style="font-size: 18px">Documento</th>
                                <th class="parrafoscards" style="font-size: 18px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientesRecords">
                                <td id="{{$index}}-nombre" class="parrafoscards" style="font-size: 16px">
                                    <a ui-sref="clienteDetail({clienteId: cliente.id})">{{cliente.name}}</a>
                                </td>
                                <td id="{{$index}}-documento" class="parrafoscards" style="font-size: 16px">{{cliente.cedula}}</td>
                                <td id="{{$index}}-acciones" class="parrafoscards" style="font-size: 16px">
                                    <a id="editCliente" ui-sref="clienteUpdate({clienteId: cliente.id})">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a id="deleteCliente" ui-sref="clienteDelete({clienteId: cliente.id})">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>