<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
    <div class="row">
        <h4>Servicio de Entrenamiento</h4>
        <div class="col-sm-4">
            <img src="src/images/servicios/entrenamiento.png" class="img-thumbnail" alt="Cinque Terre">
        </div>
        <div class="col-sm-8">
            <p >El adiestramiento canino es una cuestión básica que no se debe dejar al azar. Los perros deben ser educados y entrenados del
                mismo modo que cada nuevo miembro humano en un hogar es educado para comportarse correctamente. Además de enseñarle cuestiones  
                básicas relacionadas con la convivencia (control de esfínteres y otros impulsos) al perro se le pueden enseñar multitud de 
                tareas y trucos. Algunas pueden resultar divertidas y entretenidas, mientras que otras son esenciales para asegurarse la 
                obediencia de la mascota y para ser capaces de controlarle en determinadas situaciones. 
            </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt>Tipo de entrenamiento:</dt>
                <dd>{{currentEntrenamiento.tipo}}</dd>
                <dt>Duración del entrenamiento:</dt>
                <dd>{{currentEntrenamiento.duracion}}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <p><strong>Fecha:</strong></p>
            <p>{{currentEntrenamiento.fecha | date:'yyyy-MM-dd'}}</p>
            <p><strong>Precio:</strong></p>
            <p>{{currentEntrenamiento.costo}}.000</p>
        </div>   
    </div>
    <div ng-if="currentEntrenamiento.estado" class="row">
        <a ui-sref="entrenamientoUpdate({entrenamientoId:currentEntrenamiento.id})" class="btn btn-primary">Actualizar</a>
        <a ui-sref="entrenamientoDelete({entrenamientoId:currentEntrenamiento.id})" class="btn btn-primary">Cancelar</a>
    </div>
    <div ng-if="!currentEntrenamiento.estado" class="row">
        <a ui-sref="calificacionCreate({entrenamientoId: currentEntrenamiento.id})" class="btn btn-primary">Calificar</a>
    </div>
</div>
