<div class="container-fluid">
        <h4>Servicio de Hotel</h4>
<hr>
    <div class="row">
        <div class="col-sm-4">
            <p> imagen</p>
        </div>
        <div class="col-sm-8">
            <p>Llego el fin de semana y mejor aun tiene un festivo a bordo, quieres desconectarte del mundo y regalarte
                un poco de tiempo para tí, ¡PERFECTO!, Watchdogs acogerá a tu mejor amigo en su hotel canino en Bogotá
                donde el también descansará del ruido de la ciudad y podrá disfrutar de amplias zonas verdes en donde
                contará con supervisión y atención permanente.   disfrutará de la mejor atención durante todo un fin de
                semana, que delicia!!!! </p>
        </div>
    </div>
    <hr>
        <div class="row">
            <div class="col-sm-6">
                <dl>
                    <dt>Dias de estadia:</dt>
                    <dd>{{currentHotel.tiempoHospedaje}}</dd>
                    <dt>Duracion del servicio</dt>
                    <dd>{{currentHotel.duracion}}</dd>
                    <dt>Estado:</dt>
                <dd>{{currentHotel.estado}}</dd>
                </dl>
            </div>
            <div class="col-sm-6">   
                    <p><strong>Fecha:</strong></p>
                    <p>{{currentHotel.fecha | date: 'yyyy-MM-dd'}}</p>
                    <p><strong>Precio:</strong></p>
                    <p>{{currentHotel.costo}}.000</p>
            </div>
        </div>    
        <div ng-if="currentHotel.estado" class="row">
        <a ui-sref="hoteUpdate({hotelId:currentHotel.id})" class="btn btn-primary">Actualizar</a>
        <a ui-sref="hotelDelete({hotelId:currentHotel.id})" class="btn btn-primary">Cancelar</a>
    </div>
     <div ng-if="!currentHotel.estado" class="row">
        <a ui-sref="calificacionCreate({hotelId: currentHotel.id})" class="btn btn-primary">Calificar</a>
    </div>
</div>