.carousel-inner > .carousel-item > img {
margin: 0; 
max-width: 100%;
}

#card-aseo, #card-entrenamiento, #card-hotel, #card-paseo {
  position: relative;
  padding-bottom: 40px;
}

#btn-contratar-paseo, #btn-contratar-hotel, #btn-contratar-entrenamiento, #btn-contratar-aseo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.stroke {
text-align: center;
letter-spacing: 0;
text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}