<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="tituloscards"><h3>Lista de instalaciones</h3></div>
            <div class="panel-body">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="parrafoscards" style="font-size: 18px">Id</th>
                                <th class="parrafoscards" style="font-size: 18px">Nombre</th>
                                <th class="parrafoscards" style="font-size: 18px">Capacidad Maxima</th>
                                <th class="parrafoscards" style="font-size: 18px">Direccion</th>
                                <th ng-if="isAdmin()" class="parrafoscards" style="font-size: 18px">Acciones</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="a in instalacionesAdminRecords">
                            <tr ng-repeat="instalacionAdmin in a">
                                <td id="{{$index}}-nombre">
                                    {{instalacionAdmin.id}}
                                </td>
                                <td id="{{$index}}-documento">{{instalacionAdmin.type}}</td>
                                <td id="{{$index}}-documento">{{instalacionAdmin.capacidadMaxima}}</td>
                                <td id="{{$index}}-documento">{{instalacionAdmin.direccion}}</td>
                                <td ng-if="isAdmin()" id="{{$index}}-acciones">
                                    <a ng-if="isAdmin()" id="{{$index}}-edit" class="btn btn-default btn-sm" ui-sref="instalacionAdminUpdate({instalacionAdminId: instalacionAdmin.id})">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ng-if="isAdmin()" id="{{$index}}-delete" class="btn btn-default btn-sm" ui-sref="instalacionAdminDelete({instalacionAdminId: instalacionAdmin.id})">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>