<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-8">
        <h1>
            Horario
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Domingo</th>    
                    <th id="hola">Lunes</th>
                    <th>Martes</th>
                    <th>Miercoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="disponibilidad in disponibilidadesRecords">
                
                    <td id ="machete"></td>    
                <script>
                    var x = convertDisp(disponibilidad);
                    document.getElementById('hola').innerHTML ="PUTO EL QUE LEA"; 
                </script>       
            </tr>
            </tbody>
        </table>
    </div>
</div>